<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="exercise.coolapps.alazarshenkute1.myschedule">

    <!-- -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- used by Parse to connect my app to Parse-->
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="AJcQZVRKUfZqdf4LBlM6mImWnlQ3XPvn5GfJzywW" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="hP39TIJy04Srw0i3hRg0YKOWEJzWDpykBvAY53eA" />

        <activity
            android:name=".ScheduleActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AddScheduleActivity"
            android:label="@string/addScheduleActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>
